@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');

/* ===============================
  Contents:
    0. Mixins & Variables
    1. Globals
    2. Navigation
    3. Main content
=============================== */

/* 0. Mixins & Variables */

$text: #05AFF2;
$highlight: #F28705;
$active: #BF3604;
$color1: #0554F2;
$color2: #0460D9;


/* 1. Globals */

// * {
//   border-color: red;
//   border-style: solid;
//   border-width: 5px;
// }

html {
  /* Colours are Harley Davidson Orange and Ruby Pink (With varying opacities) */
  // background: linear-gradient(130deg, #dd4814, #e0115f);
  background-size: 700% 700%;
  text-align: center;
  font-family: 'Ma Shan Zheng', cursive;
  // animation: AnimationName 22s ease infinite;
  text-align: center;
  // overflow: hidden;
  background-color: #cccccc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23bebebe'/%3E%3Cstop offset='0.02' stop-color='%23cccccc'/%3E%3Cstop offset='0.02' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.032' stop-color='%23cccccc'/%3E%3Cstop offset='0.032' stop-color='%23949494'/%3E%3Cstop offset='0.056' stop-color='%23cccccc'/%3E%3Cstop offset='0.056' stop-color='%23a2a2a2'/%3E%3Cstop offset='0.07' stop-color='%23cccccc'/%3E%3Cstop offset='0.07' stop-color='%23d9d9d9'/%3E%3Cstop offset='0.1' stop-color='%23cccccc'/%3E%3Cstop offset='0.1' stop-color='%23b8b8b8'/%3E%3Cstop offset='0.126' stop-color='%23cccccc'/%3E%3Cstop offset='0.126' stop-color='%23d0d0d0'/%3E%3Cstop offset='0.142' stop-color='%23cccccc'/%3E%3Cstop offset='0.142' stop-color='%23cccccc'/%3E%3Cstop offset='0.159' stop-color='%23cccccc'/%3E%3Cstop offset='0.159' stop-color='%23cacaca'/%3E%3Cstop offset='0.17' stop-color='%23cccccc'/%3E%3Cstop offset='0.17' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.197' stop-color='%23cccccc'/%3E%3Cstop offset='0.197' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.218' stop-color='%23cccccc'/%3E%3Cstop offset='0.218' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.239' stop-color='%23cccccc'/%3E%3Cstop offset='0.239' stop-color='%23c2c2c2'/%3E%3Cstop offset='0.254' stop-color='%23cccccc'/%3E%3Cstop offset='0.254' stop-color='%23cacaca'/%3E%3Cstop offset='0.283' stop-color='%23cccccc'/%3E%3Cstop offset='0.283' stop-color='%23bcbcbc'/%3E%3Cstop offset='0.294' stop-color='%23cccccc'/%3E%3Cstop offset='0.294' stop-color='%23bdbdbd'/%3E%3Cstop offset='0.305' stop-color='%23cccccc'/%3E%3Cstop offset='0.305' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.332' stop-color='%23cccccc'/%3E%3Cstop offset='0.332' stop-color='%23d9d9d9'/%3E%3Cstop offset='0.346' stop-color='%23cccccc'/%3E%3Cstop offset='0.346' stop-color='%23969696'/%3E%3Cstop offset='0.362' stop-color='%23cccccc'/%3E%3Cstop offset='0.362' stop-color='%23c1c1c1'/%3E%3Cstop offset='0.381' stop-color='%23cccccc'/%3E%3Cstop offset='0.381' stop-color='%23b1b1b1'/%3E%3Cstop offset='0.415' stop-color='%23cccccc'/%3E%3Cstop offset='0.415' stop-color='%23cccccc'/%3E%3Cstop offset='0.428' stop-color='%23cccccc'/%3E%3Cstop offset='0.428' stop-color='%23939393'/%3E%3Cstop offset='0.442' stop-color='%23cccccc'/%3E%3Cstop offset='0.442' stop-color='%23b5b5b5'/%3E%3Cstop offset='0.456' stop-color='%23cccccc'/%3E%3Cstop offset='0.456' stop-color='%23c2c2c2'/%3E%3Cstop offset='0.498' stop-color='%23cccccc'/%3E%3Cstop offset='0.498' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.511' stop-color='%23cccccc'/%3E%3Cstop offset='0.511' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.532' stop-color='%23cccccc'/%3E%3Cstop offset='0.532' stop-color='%23b0b0b0'/%3E%3Cstop offset='0.541' stop-color='%23cccccc'/%3E%3Cstop offset='0.541' stop-color='%23a9a9a9'/%3E%3Cstop offset='0.56' stop-color='%23cccccc'/%3E%3Cstop offset='0.56' stop-color='%23cecece'/%3E%3Cstop offset='0.581' stop-color='%23cccccc'/%3E%3Cstop offset='0.581' stop-color='%23b0b0b0'/%3E%3Cstop offset='0.6' stop-color='%23cccccc'/%3E%3Cstop offset='0.6' stop-color='%23cacaca'/%3E%3Cstop offset='0.618' stop-color='%23cccccc'/%3E%3Cstop offset='0.618' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.656' stop-color='%23cccccc'/%3E%3Cstop offset='0.656' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.679' stop-color='%23cccccc'/%3E%3Cstop offset='0.679' stop-color='%23bebebe'/%3E%3Cstop offset='0.689' stop-color='%23cccccc'/%3E%3Cstop offset='0.689' stop-color='%23cacaca'/%3E%3Cstop offset='0.720' stop-color='%23cccccc'/%3E%3Cstop offset='0.720' stop-color='%23aaaaaa'/%3E%3Cstop offset='0.734' stop-color='%23cccccc'/%3E%3Cstop offset='0.734' stop-color='%23d2d2d2'/%3E%3Cstop offset='0.748' stop-color='%23cccccc'/%3E%3Cstop offset='0.748' stop-color='%23b4b4b4'/%3E%3Cstop offset='0.764' stop-color='%23cccccc'/%3E%3Cstop offset='0.764' stop-color='%23cfcfcf'/%3E%3Cstop offset='0.788' stop-color='%23cccccc'/%3E%3Cstop offset='0.788' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.808' stop-color='%23cccccc'/%3E%3Cstop offset='0.808' stop-color='%23cccccc'/%3E%3Cstop offset='0.831' stop-color='%23cccccc'/%3E%3Cstop offset='0.831' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.856' stop-color='%23cccccc'/%3E%3Cstop offset='0.856' stop-color='%23cccccc'/%3E%3Cstop offset='0.872' stop-color='%23cccccc'/%3E%3Cstop offset='0.872' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.894' stop-color='%23cccccc'/%3E%3Cstop offset='0.894' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.914' stop-color='%23cccccc'/%3E%3Cstop offset='0.914' stop-color='%23c0c0c0'/%3E%3Cstop offset='0.942' stop-color='%23cccccc'/%3E%3Cstop offset='0.942' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.957' stop-color='%23cccccc'/%3E%3Cstop offset='0.957' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.973' stop-color='%23cccccc'/%3E%3Cstop offset='0.973' stop-color='%23c8c8c8'/%3E%3Cstop offset='1' stop-color='%23cccccc'/%3E%3Cstop offset='1' stop-color='%23cbcbcb'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
}

#app {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "header header header header"
                       "main  main main main"
                       "projects  projects projects projects";
  grid-template-rows: 1fr 2fr 4fr;
  grid-template-columns: 1fr 2fr 4fr;
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* 2. Navigation */


.navigation {
  // background-color: orangered;
  // opacity: 0.3;
  grid-area: header;
  // font-family: 'B612', sans-serif;
  font-size: 2em;
  /* remove the padding on smaller screen sizes */
  padding-top: 2.5vh;
  padding-left: 25vw;
  padding-right: 25vw;

  display: flex;
  justify-content: space-around;

  a {
    color: $text;
    text-decoration: none;
  }

  a:hover {
    color: $highlight;
    opacity: 0.7;
  }

  .active {
    // color: white;
    color: $active;
  }
}

/* 3. Main component */

.mainComponent {
  grid-area: main;
  // background-color: green;
  // opacity: 0.7;
}

.placeholderImg {
  margin: 1em;
  padding: 1em;
  background-color: pink;
}

/* 4. Projects */

// .projects {
//   grid-area: main;
//   background-color: green;
//   opacity: 0.3;
// }

/* Blank */

.blank {
  grid-area: blank;
  // background-color:;
  opacity: 0.3;
}

.imageDrawer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  grid-area: projects;
  // background-color: yellow;
  padding-bottom: 2.5vh;
}

.MuiGridListTile-tile {
  box-shadow: 
  inset 5px 0 10px -5px #635e61,
  inset -5px 0 10px -5px #635e61,
  inset 0px -5px 10px -2px #635e61,
  0 0 1px 2px #635e61, 0 0 1px 2px #635e61;
}