html {
  /* Colours are Harley Davidson Orange and Ruby Pink (With varying opacities) */
  background: linear-gradient(130deg, #dd4814, #e0115f);
  background-size: 700% 700%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

html {
  display: block;
  text-align: center;
  overflow: hidden;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.profilePhoto {
  border: 5px inset green;
}

.name {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

p, h1 {
  text-align: center;
}
