@import url("https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap");
/* ===============================
  Contents:
    0. Mixins & Variables
    1. Globals
    2. Navigation
    3. Main content
=============================== */
/* 0. Mixins & Variables */
/* Color Theme Swatches in RGBA */
/* 1. Globals */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html {
  text-align: center;
  font-family: 'Ma Shan Zheng', cursive;
  text-align: center;
  overflow: hidden;
}

body {
  background-color: red;
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6 - 15 */
  /* Opera 11.1 - 12 */
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));
  background-image: linear-gradient(to right, red, #f06d06);
  margin: 0px;
  overflow: hidden;
}

.appBar {
  width: 100vw;
}

body {
  margin: 0;
}

.noDecoration {
  color: inherit;
  text-decoration: none;
}

#app {
  display: -ms-grid;
  display: grid;
  height: 100vh;
      grid-template-areas: "header header header header" "main main main main" "projects  projects projects projects";
  -ms-grid-rows: 1fr 2fr 4fr;
      grid-template-rows: 1fr 2fr 4fr;
  -ms-grid-columns: 1fr 2fr 4fr;
      grid-template-columns: 1fr 2fr 4fr;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 2. Navigation */
.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  font-size: 2em;
  padding-top: 2.5vh;
  padding-left: 25vw;
  padding-right: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation a {
  color: #90b974;
  text-decoration: none;
}

.navigation a:hover {
  color: #A1FFD2;
  opacity: 0.7;
}

.navigation .active {
  color: #5a7449;
}

/* 3. Main component */
.mainComponent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
}

/* dev styling for testing functionality */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.typewriter {
  padding: 0px;
  font-size: 2em;
  margin: 1em;
  padding: 1em;
}

/* Card */
.cardMUI {
  margin-top: 10vh;
}

.emailCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardMUI.email {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cardMUI.references {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cardMUI.hire {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* 4. Projects */
.projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: projects;
}

.formMUIContainer {
  color: white;
  grid-area: projects;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 450px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: projects;
  padding-bottom: 2.5vh;
}

.formMUIContainer .formMUI {
  width: 450px;
}

.formMUIContainer .formMUI .two {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.formMUIContainer .formMUI .oneHalf {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.formMUIContainer .formMUI .one {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.formMUIContainer .formMUI .message {
  width: 400px;
  height: 3.5625em;
}

.formMUIContainer .MuiButton-root {
  color: #ad8cff;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.insetDivider {
  color: black;
}

.formMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.link:hover {
  color: green;
  opacity: 0.6;
}

/* Blank */
.blank {
  grid-area: blank;
  display: none;
}

.imageDrawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 450px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: projects;
  padding-bottom: 2.5vh;
}

.MuiGridListTile-tile {
  -webkit-box-shadow: inset 5px 0 10px -5px #635e61, inset -5px 0 10px -5px #635e61, inset 0px -5px 10px -2px #635e61, 0 0 1px 2px #635e61, 0 0 1px 2px #635e61;
          box-shadow: inset 5px 0 10px -5px #635e61, inset -5px 0 10px -5px #635e61, inset 0px -5px 10px -2px #635e61, 0 0 1px 2px #635e61, 0 0 1px 2px #635e61;
  -webkit-box-shadow: 5px 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* =============================
 Form Styling of MU-UI form 
  * nb styling is after
    react components
============================== */
.MuiInputBase-root {
  color: #ff6ad5;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-weight: bold;
}

.MuiFormLabel-root {
  color: #ff6ad5;
}

.MuiFocused {
  color: #8795e8;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(148, 208, 255, 0.23) !important;
}

.toolBar {
  background-color: #000000;
}

.appBarText {
  color: white !important;
}

.appBarText :hover {
  opacity: 0.65;
}

.appBarTitle {
  cursor: pointer;
  color: white;
}

.appBarTitle:hover {
  opacity: 0.6;
}

/* Google Fonts */
/* Global */
html {
  min-height: 50%;
  overflow: hidden;
}

body {
  color: #000000;
  font-family: 'Anonymous Pro', monospace;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 2em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */