@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* ===============================
  Contents:
    0. Mixins & Variables
    1. Globals
    2. Navigation
      2.1 Mobile Rendering
    3. Main content
=============================== */

/* 0. Mixins & Variables */

$text: #90b974;
$highlight: #A1FFD2;
$active: #5a7449;
$bgColor1: #88898E;
$bgColor2: #54555A;
$bgColor3: rgb(16,215,174);
$bgColor4: #6d6e74;

$tearDropTransperant: rgba(148,208,255, 0.23);
$tearDrop: rgb(148,208,255);
$blueSuede: rgb(135,149,232);
$lightPurple: rgb(173,140,255);
$lightViolet: rgb(199,116,232);
$vapoWavePink: rgb(255,106,213);
// SCSS Comment --> The colours for the sign in form are done in a very hacky way with material U.I. --> Find a better way to do styling.


/* Color Theme Swatches in RGBA */
$Super-Gradient-1-2-rgba: black;
$Super-Gradient-1-1-rgba: $blueSuede;
$Super-Gradient-1-3-rgba: $vapoWavePink;
$Super-Gradient-1-4-rgba: rgba(242,149,128, 1);
$Super-Gradient-1-5-rgba: rgba(216,27,10, 1);


/* 1. Globals */

html {
  text-align: center;
  font-family: 'Ma Shan Zheng', cursive;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
  // background-color: $bgColor3;
}

.cardsCombined {
  display: grid;
  justify-content: center;
  grid-template-columns: 32vw 32vw 32vw; /*Make the grid smaller than the container*/
  grid-gap: 1vw;
  padding: 1vw;
}

.cardExternal {
  text-align: center;
}

.cardInternal {
  margin: auto;
}

.internalActionArea {
  height: 240px;
}

.cardExternal {
  margin-bottom: 20px;
}

body {
  background-color: black;
  
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);
  
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(black));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(left, black, black);
  
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(left, black, black);
  
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(left, black, black);
  
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to right, black, black);
  margin: 0px;
  overflow: hidden;
}

.appBar {
  width: 100vw;
}


body {
  margin: 0;
}

.noDecoration {
  color: inherit;
  text-decoration: none;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header header"
                       "main main main main"
                       "projects  projects projects projects";
  grid-template-rows: 1fr 2fr 4fr;
  grid-template-columns: 1fr 2fr 4fr;
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* 2. Navigation */


.header {
  padding-top: 1vh;
  padding-bottom: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  /* Grid for the navigation bar only */
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
      grid-template-areas: "title gap gap nav";
  grid-gap: 1em;
}

/* Links */
.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: nav;
  display: inline;
  padding-top: 3vh;
  padding-bottom: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Link {
  font-size: 1.2rem;
  margin-left: 1.4vw;
  text-transform: uppercase;
}

.Link {
  color: #f2f2f2;
  opacity: 1;
  text-align: right;
  text-decoration: none;
}

.home .Link {
  margin-left: 45.0vw;
}

.contact, .home {
  text-align: center;
}

.contact h1, .home h1 {
  position: relative;
  top: calc(+17.5vh + 2.5em);
  color: pink;
}

.active {
  color: $vapoWavePink;
}

.Link {
  &.grow {
    transition: all .2s ease-in-out;
    &.active {
      transform: scale(1.15);
      color: $vapoWavePink;
    }
  }
  &:hover {
    color: rgb(128,128,128);
  }
}

/* Title */
.title {
  grid-area: title;
}

.titleHeader {
  float: left;
  margin-left: 2.0vw;
  color: #fff;
  text-transform: uppercase;
}

.header {
  .title {
    font-family: 'Special Elite', cursive;
  }
  .nav {
    font-family: 'Permanent Marker', cursive;
  }
}

/* 2.1 Mobile Rendering */
  // M U.I. Handles it completely.
/* 3. Main component */

.cardInternal {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30),
  0 15px 12px rgba(0, 0, 0, 0.22)
}

.mainComponent {
  grid-area: main;
}

/* dev styling for testing functionality */
.main {
  grid-area: main;
}

.typewriter {
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  padding: 0px;
  font-size: 2em;
  margin: 1em;
  padding: 1em;
}

/* Card */
.cardMUI {
  margin-top: 10vh;
}

.emailCard {
  display: flex;
  // align-content: flex-end;
}

.cardMUI.email {
  // TODO: Create Flex box with right width
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-content: center;
}

.cardMUI.references {
  // TODO: Create Flex box with right width
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-content: center;
}

.cardMUI.hire {
  // TODO: Create Flex box with right width
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-content: center;
}

.cardMUI.about {
  // TODO: Create Flex box with right width
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  align-content: center;
}

.cardMUI.documentation {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  align-content: center;
}

.documentationContatiner {
  display: flex;
  flex-direction: column;
}

/* 4. Projects */

.projects {
  grid-area: projects;
}

// Icon for projects link.
.projectsIcon {
  color: $vapoWavePink;
  cursor: pointer;
  font-size: 60px;
  &.grow {
    transition: all .225s ease-in-out;
    &:hover {
      transform: scale(1.55);
    }
  }
}

.gitHubLogo {
  filter: invert(100);
  width: 240px; /* you can use % */
  height: auto;
  &.grow {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.cvLogo {
  filter: invert(100);
  width: 120px; /* you can use % */
  height: auto;
  &.grow {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }
  padding-bottom: 20px;
}

.formMUIContainer {
  color: white;
  grid-area: projects;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
  grid-area: projects;
  padding-bottom: 2.5vh;
  // background-color: $bgColor3!important;
  .formMUI {
    width: 450px;
    .two {
      align-self: flex-end;
    }
    .oneHalf {
      align-self: center;
    }
    .one {
      align-self: flex-start;
    }
    .message {
      width: 400px;
      height: 3.5625em;
    }
  }
// Button
  .MuiButton-root {
    color: $lightPurple;
    background-color: rgba(0,0,0,0.75)!important;
  }
}

.insetDivider {
  color: black;
}

.formMessage {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.link:hover {
  color: green;
  opacity: 0.6;
}

/* Blank */

.blank {
  grid-area: blank;
  display: none;
}

.imageDrawer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
  grid-area: projects;
  padding-bottom: 2.5vh;
}

.projectBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

/* =============================
 Form Styling of MU-UI form 
  * nb styling is after
    react components
============================== */

// Font color inside the form (focus)
.MuiInputBase-root {
  color: $vapoWavePink;
  background-color: rgba(255,255,255,0.025);
  border-radius: 5px;
  font-weight: bold;
}

// Font color without focus
.MuiFormLabel-root {
  color: $vapoWavePink;
}

.MuiFocused {
  color: $blueSuede;
}

//Border color without focus
.MuiOutlinedInput-notchedOutline {
  border-color: $tearDropTransperant!important;
}

// .MuiOutlinedInput-notchedOutline:hover {
//   border-color: rgba(255, 255, 255, 0.23!important);
// }


$vapoWavePinkOpaqe: rgba(255,106,213, 0.8);

.toolBar {
  background-color: #0c0c0c;
  
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);
  
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image: -webkit-gradient(linear, left top, right top, from(#0c0c0c), to(#24292e));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(left, #0c0c0c, #24292e);
  
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(left, #0c0c0c, #24292e);
  
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(left, #0c0c0c, #24292e);
  
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to right, #0c0c0c, #24292e);
  margin: 0px;
  overflow: hidden;
}

.appBarText {
  color: white!important;
  text-transform: none;
}

.appBarText:hover {
    opacity: 0.65;
}

.appBarTitle {
  cursor: pointer;
  color: white;
  text-transform: none;
  font-size: 1.2em;
}

.appBarTitle:hover {
  opacity: 0.6;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
  min-height: 50%;
  overflow: hidden;
}

body {
  color: #000000;
  font-family: 'Anonymous Pro', monospace;  
}

.line-1 {
    position: relative;
    top: 50%;  
    width: 2em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from{width: 0;}
  to{width: 23em;}
}
@keyframes blinkTextCursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

// Screen sizes smaller than 500px change styling for form.
@media only screen and (max-width: 550px)  {

  html { 
    overflow: scroll;
  }

  .formMUIContainer {
    color: white;
    grid-area: projects;
    display: flex;
    justify-content: center;
    width: 100%!important;
    height: 450px;
    grid-area: projects;
    padding-bottom: 2.5vh;
    // background-color: $bgColor3!important;
    .formMUI {
      width: 450px;
      .two {
        align-self: flex-end;
      }
      .oneHalf {
        align-self: center;
      }
      .one {
        align-self: flex-start;
      }
      .message {
        width: auto;
        display: flex;
        height: 3.5625em;
      }
    }
  }

}

canvas {
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
  // opacity: 0.5;
}