@import url("https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
/* ===============================
  Contents:
    0. Mixins & Variables
    1. Globals
    2. Navigation
      2.1 Mobile Rendering
    3. Main content
=============================== */
/* 0. Mixins & Variables */
/* Color Theme Swatches in RGBA */
/* 1. Globals */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html {
  text-align: center;
  font-family: 'Ma Shan Zheng', cursive;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}

.cardsCombined {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 32vw 32vw 32vw;
      grid-template-columns: 32vw 32vw 32vw;
  /*Make the grid smaller than the container*/
  grid-gap: 1vw;
  padding: 1vw;
}

.cardExternal {
  text-align: center;
}

.cardInternal {
  margin: auto;
}

.internalActionArea {
  margin-bottom: 20px;
  min-height: 232.5px;
}

body {
  background-color: red;
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6 - 15 */
  /* Opera 11.1 - 12 */
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));
  background-image: linear-gradient(to right, red, #f06d06);
  margin: 0px;
  overflow: hidden;
}

.appBar {
  width: 100vw;
}

body {
  margin: 0;
}

.noDecoration {
  color: inherit;
  text-decoration: none;
}

#app {
  display: -ms-grid;
  display: grid;
  height: 100vh;
      grid-template-areas: "header header header header" "main main main main" "projects  projects projects projects";
  -ms-grid-rows: 1fr 2fr 4fr;
      grid-template-rows: 1fr 2fr 4fr;
  -ms-grid-columns: 1fr 2fr 4fr;
      grid-template-columns: 1fr 2fr 4fr;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 2. Navigation */
.header {
  padding-top: 1vh;
  padding-bottom: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  /* Grid for the navigation bar only */
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
      grid-template-areas: "title gap gap nav";
  grid-gap: 1em;
}

/* Links */
.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: nav;
  display: inline;
  padding-top: 3vh;
  padding-bottom: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Link {
  font-size: 1.2rem;
  margin-left: 1.4vw;
  text-transform: uppercase;
}

.Link {
  color: #f2f2f2;
  opacity: 1;
  text-align: right;
  text-decoration: none;
}

.home .Link {
  margin-left: 45.0vw;
}

.contact, .home {
  text-align: center;
}

.contact h1, .home h1 {
  position: relative;
  top: calc(+17.5vh + 2.5em);
  color: pink;
}

.active {
  color: #000000;
}

.Link.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.Link.grow.active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #000000;
}

.Link:hover {
  color: gray;
}

/* Title */
.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.titleHeader {
  float: left;
  margin-left: 2.0vw;
  color: #000000;
  text-transform: uppercase;
}

.header .title {
  font-family: 'Special Elite', cursive;
}

.header .nav {
  font-family: 'Permanent Marker', cursive;
}

/* 2.1 Mobile Rendering */
/* 3. Main component */
.cardInternal {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.mainComponent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
}

/* dev styling for testing functionality */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.typewriter {
  font-family: 'Press Start 2P', cursive;
  padding: 0px;
  font-size: 2em;
  margin: 1em;
  padding: 1em;
}

/* Card */
.cardMUI {
  margin-top: 10vh;
}

.emailCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardMUI.email {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cardMUI.references {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cardMUI.hire {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cardMUI.about {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cardMUI.documentation {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.documentationContatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* 4. Projects */
.projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: projects;
}

.projectsIcon {
  cursor: pointer;
  font-size: 60px;
}

.projectsIcon.grow {
  -webkit-transition: all .225s ease-in-out;
  transition: all .225s ease-in-out;
}

.projectsIcon.grow:hover {
  -webkit-transform: scale(1.55);
          transform: scale(1.55);
}

.gitHubLogo {
  width: 240px;
  /* you can use % */
  height: auto;
}

.gitHubLogo.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gitHubLogo.grow:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.cvLogo {
  width: 120px;
  /* you can use % */
  height: auto;
  padding-bottom: 20px;
}

.cvLogo.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cvLogo.grow:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.formMUIContainer {
  color: white;
  grid-area: projects;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 450px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: projects;
  padding-bottom: 2.5vh;
}

.formMUIContainer .formMUI {
  width: 450px;
}

.formMUIContainer .formMUI .two {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.formMUIContainer .formMUI .oneHalf {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.formMUIContainer .formMUI .one {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.formMUIContainer .formMUI .message {
  width: 400px;
  height: 3.5625em;
}

.formMUIContainer .MuiButton-root {
  color: #ad8cff;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.insetDivider {
  color: black;
}

.formMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.link:hover {
  color: green;
  opacity: 0.6;
}

/* Blank */
.blank {
  grid-area: blank;
  display: none;
}

.imageDrawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 450px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: projects;
  padding-bottom: 2.5vh;
}

.projectBox {
  -webkit-box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
          box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

/* =============================
 Form Styling of MU-UI form 
  * nb styling is after
    react components
============================== */
.MuiInputBase-root {
  color: #ff6ad5;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-weight: bold;
}

.MuiFormLabel-root {
  color: #ff6ad5;
}

.MuiFocused {
  color: #8795e8;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(148, 208, 255, 0.23) !important;
}

.toolBar {
  background-color: #0c0c0c;
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6 - 15 */
  /* Opera 11.1 - 12 */
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: -webkit-gradient(linear, left top, right top, from(#0c0c0c), to(#24292e));
  background-image: linear-gradient(to right, #0c0c0c, #24292e);
  margin: 0px;
  overflow: hidden;
}

.appBarText {
  color: white !important;
  text-transform: none;
}

.appBarText:hover {
  opacity: 0.65;
}

.appBarTitle {
  cursor: pointer;
  color: white;
  text-transform: none;
  font-size: 1.2em;
}

.appBarTitle:hover {
  opacity: 0.6;
}

/* Google Fonts */
/* Global */
html {
  min-height: 50%;
  overflow: hidden;
}

body {
  color: #000000;
  font-family: 'Anonymous Pro', monospace;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 2em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 500px) {
  .formMUIContainer {
    color: white;
    grid-area: projects;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100% !important;
    height: 450px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: projects;
    padding-bottom: 2.5vh;
  }
  .formMUIContainer .formMUI {
    width: 450px;
  }
  .formMUIContainer .formMUI .two {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .formMUIContainer .formMUI .oneHalf {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .formMUIContainer .formMUI .one {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .formMUIContainer .formMUI .message {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5625em;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */